:root {
    --theme-color: #31b18d;
    --font-gray: #758499;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #dffbf3;
}

/* layout */
header {
    width: 85%;
    margin: 0px auto
}

header .navigate {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* logo */

header .logo img {
    width: 166px;
    border-radius: 10px;
}

/* navigate */

.nav ul li {
    display: flex;
    float: left;
}

.nav ul li a {
    color: black;
    margin: 17px;
    transition: 0.3s;
    font-weight: 10;

}

.nav ul li a:hover {
    color: var(--theme-color);
}

.nav ul li:first-child a {
    color: var(--theme-color);
}

/* info */

.container {
    display: flex;
    flex-wrap: wrap-reverse;
}

.basic-info {
    flex: 1;
    margin: auto auto;
}


.basic-info h6 {
    position: relative;
    margin-bottom: 5rem;
    margin-top: 5rem;
    color: var(--font-gray);
    font-size: 100%;
}

.basic-info h6:after {
    content: "";
    height: 1px;
    width: 3rem;
    position: absolute;
    left: 0;
    top: 30px;
    background-color: var(--font-gray);
}

.basic-info h1 {
    font-family: 'Playfair Display', serif;
    line-height: 1.4em;
    font-size: 4.8823529411765rem;
}

.basic-info h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 65px;
    font-size: 2.0588235294118rem;
    color: var(--font-gray);
}

.basic-info .config ul li span {
    vertical-align: middle;
    margin-right: 10px;
    background-color: var(--theme-color);
    border-radius: 3px;
    padding: 2px;
    color: white;
    font-size: large;
}

.basic-info .config ul li {
    font-size: 15px;
    margin-bottom: 3px;
}

.img-avata {
    flex: 1;
    min-width: 300px;
    margin: auto auto;
}

.img-avata img {
    width: 100%;
    border-radius: 50%;
}

/* about me */

.about-me-container {
    width: 80%;
    margin: 100px auto;
}

.about-me-container h6 {
    color: var(--theme-color);
    font-size: larger;
    margin-bottom: 30px;
}

.about-me-container h2 {
    font-size: 2.8em;
    line-height: 1.3;
    margin-bottom: 125px;
    text-align: center;
}

.about-me-container .more-info {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-me-container .more-info .inner-info-left {
    display: inline-block;
    min-width: 300px;
    width: 43%;
}

.about-me-container .more-info .inner-info-left h3 {
    margin-bottom: 30px;
    font-size: 2em;
}

.about-me-container .more-info .inner-info-right {
    display: inline-block;
    min-width: 300px;
    width: 43%;
}

.about-me-container .more-info .inner-info-right .experience {
    color: var(--font-gray);
}

.about-me-container .more-info .inner-info-right span a {
    color: var(--theme-color);
    transition: 0.3s;
    padding: 3px;
}

.about-me-container .more-info .inner-info-right span a:hover {
    color: #196952;
    background-color: #91f8f1;
    border-radius: 3px;
}

/* what i do */

.what-i-do {
    margin-bottom: 20px;
}

.what-i-do-container {
    margin: 30px auto;
    width: 90%;
}

.what-i-do-container h2 {
    font-size: 50px;
}

.what-i-do-container .e-con-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100px;
    margin-bottom: 20px;
}

.what-i-do-container .e-con-inner p {
    color: var(--font-gray);
    min-width: 300px;
    flex: 2;
}

.what-i-do-container .e-con-inner a {
    flex: 1;
    min-width: 200px;
}

.what-i-do-container .e-con-inner a span {
    float: right;
    color: var(--theme-color);
    font-size: 50px;
    transition: 0.3s;
}

.what-i-do-container .e-con-inner a span:hover {
    font-size: 60px;
}

/* jobs */

.jobs-list .jobs span {
    color: var(--theme-color);
}

.jobs-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.jobs-list .jobs {
    flex: 1;
    max-width: 350px;
    margin: 10px 10px 20px;
    /* border-right: 1px solid var(--font-gray); */
}

.jobs:last-child {
    border: 0px;
}

@media (max-width: 800px){
    .jobs-list {
        flex-direction: column;
        align-content: center;
    }
}

.jobs span, .jobs h4 {
    vertical-align: middle;
    display: inline-block;
    margin-bottom: 10px;
}

.jobs p {
    color: var(--font-gray);
}